* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("../imgs/paper.png");
  background-attachment: fixed; /*Use Scroll if laggy*/
  background-repeat: repeat-y;
  background-size: 100%;
  padding: 0;
  margin: 0;
  min-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--header-back);
  z-index: 3;
  transition: 300ms ease;
}

.icon {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  max-width: 150px;
}

.left {
  padding-left: 15px;
}

.right {
  padding-right: 15px;
}

.left,
.right,
.middle {
  flex: 1;
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#band {
  font-family: system-ui;
  font-size: 1.55rem;
  font-weight: bold;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  color: var(--normal-txt);
  transition: 300ms ease;
}

#band:hover {
  color: #7d7d30;
}

#hamburger-menu {
  display: inline-block;
  user-select: none;
  border-radius: 25%;
  background: var(--hmb-menu-hover-bg);
  padding: 0.5rem 0.7rem;
  font-size: 2rem;
  color: var(--hmb-menu-hover-txt);
  cursor: pointer;
  transition: 300ms ease;
}

#hamburger-menu:hover {
  transform: scale(0.9);
}

#hamburger-menu:active {
  transform: scale(0.85);
}

#main-link {
  color: #000;
  text-decoration: none;
  user-select: none;
}

/*Warner Box*/

.warner-container {
  background: #efef65;
  border-bottom: solid 3px #47471d;
  text-align: center;
  padding: 1rem;
}

.warner-container span {
  font-family: Arial;
  font-weight: bold;
  font-size: 1.5rem;
}

/*Medias*/

@media (max-width: 350px) {
  .warner-container span {
    font-size: 1rem;
  }
}

@media (max-width: 300px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .left {
    padding: 0;
  }
  .right {
    padding: 0;
  }
  .middle {
    padding: 0;
  }
}
