* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("../imgs/paper.png");
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  min-width: 100%;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.icon {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  max-width: 150px;
}

.left {
  padding-left: 15px;
}

.right {
  padding-right: 15px;
}

.left,
.right,
.middle {
  flex: 1;
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#band {
  font-family: system-ui;
  font-size: 1.55rem;
  font-weight: bold;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

#hamburger-menu { 
  font-size: 2rem;
}

#main-link {
  color: #000;
  text-decoration: none;
  user-select: none;
}

/*Warner Box*/

.warner-container {
  background: #efef65;
  border: solid 3px #47471d;
  text-align: center;
  padding: 1rem;
}

.warner-container span {
  font-family: Arial;
  font-weight: bold;
  color: #47471d;
  font-size: 1.5rem;
}

/*Medias*/

@media (max-width: 350px) {
  .warner-container span {
    font-size: 1rem;
  }
}

@media (max-width: 300px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .left {
    padding: 0;
  }
  .right {
    padding: 0;
  }
  .middle {
    padding: 0;
  }
}
